<!-- start custom head snippets -->
<link rel="stylesheet" href="{{ '/assets/css/customheader.css' | absolute_url }}">
<div class="wrapper" style="text-align: right; line-height: 2em">
  
<ul style="list-style: none;">
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% for post in posts %}
  <li>
    <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
  </li>
{% endfor %}

{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for page in pages %}
  <li>
    <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
  </li>
{% endfor %}
</ul>

</div>
<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->